HTTP协议中几个和重定向相关的状态码(3xx)

目前 3xx 的状态码有如下几个（摘自 Node.js 的 [http.STATUS_CODES](https://github.com/nodejs/node/blob/main/lib/_http_server.js)）:

```js
300: 'Multiple Choices',           // RFC 7231 6.4.1
301: 'Moved Permanently',          // RFC 7231 6.4.2
302: 'Found',                      // RFC 7231 6.4.3
303: 'See Other',                  // RFC 7231 6.4.4
304: 'Not Modified',               // RFC 7232 4.1
305: 'Use Proxy',                  // RFC 7231 6.4.5
307: 'Temporary Redirect',         // RFC 7231 6.4.7
308: 'Permanent Redirect',         // RFC 7238 3
```

最常见的还是 301, 302, 303, 307 和 308。其中 301 和 308 属于永久重定向，剩下的 3 个属于临时重定向。按[规范](https://www.rfc-editor.org/rfc/rfc7231#section-6.4.2)的设想是，user-agent(浏览器等)需要在遇到永久重定向时把他存下来，下次直接自动重定向。我理解如果浏览器厂商按规范的要求来做，应该有的效果是：如果用户访问过一次旧的 URL 被永久重定向到新的 URL 之后，下次用户再访问那个旧 URL，就没必要给服务器再发个请求了，直接自动帮他重定向到上次的那个新 URL 就好了，或者再直接一点，假如用户书签里保存了旧 URL，遇到永久重定向，就可以自动把书签里的旧 URL 修改为新 URL。但经过我的实测，浏览器只做到了第一种。

当使用 301 或 308 重定向过一次之后，浏览器会缓存这个重定向请求，下次再访问旧 URL 时不会给服务器发请求，而是利用缓存自动重定向。

<img width="443" alt="image" src="https://user-images.githubusercontent.com/5093611/209463387-7a86fc19-06ac-4c1d-86b5-b2e95f537375.png">
<img width="444" alt="image" src="https://user-images.githubusercontent.com/5093611/209463396-15b24cc3-05d4-45ca-aa4a-d6bfe1b0526d.png">

当然给 302,303,307 这几个临时重定向的响应加 `Cache-Control` 也能达到一样的效果。

<img width="430" alt="image" src="https://user-images.githubusercontent.com/5093611/209463607-0c56a5ad-ae39-4931-9a06-b5286ee14084.png">

<img width="406" alt="image" src="https://user-images.githubusercontent.com/5093611/209463499-6bcb3644-6910-40c0-aa80-fab77596ddc7.png">

还有一个差别在于 307, 308 和 301, 302, 303。后面 3 种重定向会修改请求方法为 GET，且丢弃请求体。307 和 308 则不会。

<img width="575" alt="image" src="https://user-images.githubusercontent.com/5093611/209463010-6620768a-b5bc-48cf-8110-8b28e219d552.png">

其实规范最早的设想是，只有 303 需要修改请求方法为 GET，301 和 302 不要修改请求方法，但无奈浏览器厂商没按规范来。这么一看似乎在实际开发中重定向的场景用 307 和 308 会比较好。附上测试代码:

```js
// server
const http = require("http");

http
  .createServer((req, res) => {
    if (req.url == "/") {
      res.statusCode = 301;
      res.setHeader("Location", "/foo");
      // res.setHeader("Cache-Control", "max-age=300");
      res.end();
    } else {
      res.end("foo");
    }
  })
  .listen(8080);
```

```js
// client
fetch("/", {
  method: "POST",
  body: "name=xxx",
});
```
